.button {
  $btn-color: rgb(1, 190, 190);;
  $btn-color2: rgba(50, 50, 93, .1);

  appearance: button;
  backface-visibility: hidden;
  background-color: $btn-color;
  border-radius: 6px;
  border-width: 0;
  box-shadow: $btn-color2 0 0 0 1px inset, $btn-color2 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s, box-shadow .15s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  
  &:disabled {
    cursor: default;
  }
  
  &:focus, &:hover {
    box-shadow: $btn-color2 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 0 10px 0, rgba(0, 0, 0, .1) 0 2px 2px 0;
  }

  &.disabled {
    cursor: not-allowed;
    color: #fff;
    background-color: #ccc;
    box-shadow: none;
  }

  &.loading {
    cursor: wait;
    color: #fff;
    background-color: #ccc;
    box-shadow: none;

    .loader {
      font-size: 10px;
      margin: 0 auto;
      text-indent: -9999em;
      width: 23px;
      height: 23px;
      border-radius: 50%;
      background: #ffffff;
      background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
      position: relative;
      -webkit-animation: load3 0.6s infinite linear;
      animation: load3 0.6s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
    .loader:before {
      width: 50%;
      height: 50%;
      background: #ffffff;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    .loader:after {
      background: #ccc;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    
  }

  &.enabled {
    
  }
}