.upload {  
  .tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 13px 0;
    
    /*outline: red 1px solid;
    > * {
      outline: red 1px solid;
    }*/

    .tab + div {
      margin-top: 9px;
    }

    .tab {
      list-style: none;
      padding: 0;
      display: flex;
      margin: 0;
  
      flex-direction: row;
      justify-content: left;
  
      > li {
        padding: 10px 7px;
        cursor: pointer;
        color: #888;
        font-weight: 500;
  
        &:not(.coming-soon):hover, &:not(.coming-soon):focus, &.active {
          border-bottom: 2px solid black;
          color: black;
        }

        &.coming-soon {
          color: #ccc;
          text-decoration: line-through;
        }
  
        &.compatibility {
          justify-self: right;
        }
      }
    }
  } 

  .encryption {
    // margin: 6px inherit 4px inherit;
  }
}