nav {
  position: fixed;
  top: 0;
  left: 0;

  .logo {
    position: relative;
    top: 7px;
    display: inline;
    font: bold 1.2rem/2rem 'Roboto Mono', monospace;
    border: 3px solid #1c1c1c;
    padding: 0px 7px;
    margin: 7px;
    text-decoration: none;
    color: #000;
  }
}