form {
  min-width: 320px;
  width: 25vw;

  .hidden {
    visibility: hidden;
  }

  fieldset {
    position: relative;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    > label {
      flex-grow: 0;
      margin-right: 15px;

      &[data-tip] {
        border-bottom: dashed 1px #b3b3b3;
      }
    }

    > * {
      flex-grow: 1;
    }

    > input[type=text] {
      height: 1.7rem;
      font: 0.8rem/1rem 'Roboto Mono', monospace;
      padding: 0 10px;
    }

    input[type=button] {
      cursor: pointer;
      height: 3rem;
      color: #fff;
      background-color: #383838;
      border-radius: 5px;
      border: none;
      font-weight: bold;
      font-size: 0.9rem;
      transition: background-color .3s ease-in-out;

      &.ready {
        background-color: #d3c666;
      }

      &[disabled] {
        background-color: #e1e1e1;
      }
    }
  }
}