.banner {
  align-self: flex-start;
  top: 0;
  position: absolute;

  font-family: Inconsolata, Consolas, monospace;
  font-weight: 900;
  font-size: 2rem;
  padding: 5px 10px;
  margin: 10px 0 0 10px;

  a {
    text-decoration: solid;
    color: white;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}